h3 {
    padding-left: 32px;
    margin: 0 0 !important;
    padding: 0.4rem 16px;
    background-color: #e9ecef;
    font-size: 15px;
    font-style: initial;
    font-weight: unset;
    }

.o_base_settings .o_setting_container .settings > .app_settings_block h3, .o_base_settings .o_setting_container .settings > .app_settings_block .h3 {
    margin: 0 0 !important;
    padding: 0.4rem 16px;
    font-weight: bold;
    font-size: 13px;
    padding-left: 33px;
}