.pos .templateproductlist-screen .window,
.pos .templateproductlist-screen .full-content .subwindow {
    display: block;
}
.pos .templateproductlist-screen .full-content .subwindow-container {
    display: block;
    height: 100%;
}
.pos .templateproductlist-screen .full-content .subwindow.collapsed,
.pos .templateproductlist-screen .full-content .subwindow-container.collapsed {
    height: auto;
}
.pos .templateproductlist-screen .template-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .templateproductlist-screen .template-list th,
.pos .templateproductlist-screen .template-list td {
    padding: 0px 8px;
}
.pos .templateproductlist-screen .template-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}
.pos .templateproductlist-screen .template-list thead > tr,
.pos .templateproductlist-screen .template-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}
.pos .templateproductlist-screen .template-list tr.highlight {
    transition: all 150ms linear;
}
.pos .templateproductlist-screen .template-list tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .templateproductlist-screen .template-list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .templateproductlist-screen .searchbox {
    right: auto;
    margin-left: -90px;
    margin-top: 8px;
    left: 50%;
}
.pos .templateproductlist-screen .searchbox input {
    width: 120px;
}
.pos .templateproductlist-screen .button.new-customer {
    left: 50%;
    margin-left: 120px;
}
.pos .templateproductlist-screen .custom_searchbox {
    position: absolute;
    right: auto;
    margin-left: -90px;
    margin-top: 8px;
    left: 50%;
}
.pos .custom_searchbox input {
    width: 130px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    /*padding-left: 38px;*/
    margin: 6px;
    background: url("/point_of_sale/static/src/css/../img/search.png") no-repeat top 12px right 15px;
    background-color: white;
    border-radius: 20px;
    font-family: "Lato", "Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 13px;
}
.pos .custom_searchbox .search-clear {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 11px;
    right: 12px;
    cursor: pointer;
    left: unset;
}
