.pos .popup.popup-number-denom {
    width: 450px;
    height: 450px;
}

.pos .popup-number-denom .popup-input {
    text-align: center;
}

.pos .popup-numpad-denom {
    direction: ltr;
    margin: 12px auto;
    text-align: center;
    width: 300px;
}

.pos .popup-numpad-denom .input-button,
.pos .popup-numpad-denom .mode-button {
    background: none;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 25px;
    margin: 4px;
    vertical-align: top;
    color: #444;
}
.pos .popup-numpad-denom .input-button:active,
.pos .popup-numpad-denom .mode-button:active {
    background: #444;
    color: white;
    border-color: #444;
}

/*  ********* The Numpad ********* */

.pos .numpad-payment {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    flex-grow: 1;
    width: 100%;
    min-width: 216px;
}
.pos .numpad-payment button {
    float: left/*rtl:ignore*/; /* rtlcss forced to keep ltr */
    height: 54px;
    vertical-align: middle;
    color: $gray-700;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: $gray-300;
    transition: all 150ms linear;
    padding: unset;
    width: 100%;
    font-weight: bold;
}
.pos .numpad-payment button:hover {
    background: $gray-200;
}
.pos .numpad-payment button:active {
    background: black;
    color: white;
    border-color: transparent;
}

.pos .numpad-payment .disabled-mode, .pos .numpad-payment .disabled-mode:hover {
    background: $gray-200;
    color: $gray-500;
    cursor: not-allowed;
}

.pos .payment-numpad .numpad-payment {
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: $gray-300;
    width: 100%;
    height: 100%;
    margin: auto;
}
.pos .payment-numpad .numpad-payment button {
    height: 100%;
    min-height: 54px;
    font-size: clamp(map-get($font-sizes, 6), 3vw, 36px);
}

.pos .payment-numpad .numpad-payment button:nth-child(16) img {
    width: 35%;
    max-width: 64px;
    height: auto;
}
