.main-body.touch-scrollable.scrollable-y.product_content {
    padding: 19px;
}
.sh_warehouse_display {
    float: right;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #6ec89b;
    padding: 2px 5px;
    border-radius: 2px;
    position: absolute;
    width: 17px;
}
.data_td {
    padding: 10px;
   
}
.head_td {
    
    background: lightgrey;
    padding: 8px;
}
.footer_td {
   
    padding: 10px;
}
.sh_product_image {
    float: left;
    width: 30%;
    margin-top: -7px;
}
.product_image {
    height: 91px;
    width: 91px;
}
.sh_product_name {
    float: right;
    width: 70%;
}
.sh_max_qty {
    font-weight: normal;
    margin-top: 17px;
}
@media only screen and (max-width: 576px) {
    .popup.popup-textinput.sh_qty_popup {
        width: 355px !important;
    }
    .sh_max_qty {
        height: 57px;
        overflow: auto;
        padding-right: 5px;
    }
    .popups .modal-dialog .product-configurator-popup {
        top: 50% !important;
        left: 50% !important;
        max-width: 90% !important;
        width: 90% !important;
    }
}
.sh_qty_popup {
    width: 503px !important;
    height: 247px !important;
    font-size: 16px !important;
}

.leftpane .order .orderline.selected .product-image-icon {
    margin-right: 5px;
}
/*.popups .modal-dialog .product-configurator-popup{max-width: 50% !important;width: 50% !important;}*/
.popups .modal-dialog .product-configurator-popup header.title {
    font-size: 18px !important;
}
.popups .modal-dialog .product-configurator-popup .wh_qty {
    font-size: 15px !important;
}
.popups .modal-dialog .product-configurator-popup .wh_qty .data_td {
    font-weight: normal !important;
}

@media only screen and (max-width: 576px) {
    
    .sh_product_image .product_image {
        width: 60px !important;
        height: 60px !important;
    }
}
