$sh_cart_position: left_side;
$sh_image_display_in_cart: True;
$sh_action_button_position: left_side;
$sh_mobile_start_screen: product_screen;
$sh_pos_theme_style: style_1;
$sh_pos_primary_color: #673ab7;  
$sh_pos_secondary_color: #f0f0f0;
$sh_pos_button_style: style_1;
$sh_pos_product_style: style_1;
$sh_pos_body_background_type: bg_color;
$sh_pos_body_background_color: #FFFFFF;
$sh_pos_body_font_family: Roboto;
$sh_pos_body_google_font_family: False;
$sh_pos_is_used_google_font: False;
$sh_list_view_border:without_border;
$sh_list_row_hover:True;
$sh_header_sticky:True;
$sh_hover_background_color:#E5E5E5;
$sh_even_row_color:#E5E5E5;
$sh_odd_row_color:#FFFFFF;
$sh_cart_total_sticky:True;
$sh_form_element_style: style_1;
$sh_display_product_image_name: image_name;
