.bag_category_popup .product-list {
    justify-content: center;
}
.bag_category_popup .product-list-container {
    max-height: 290px;
    overflow: auto;
}
@media only screen and (max-width: 576px) {
    .pos .modal-dialog.bag_category_dialog {
        padding: 0px !important;
    }
    .pos .modal-dialog.bag_category_dialog .popup {
        max-width: 330px !important;
    }
    .pos .modal-dialog.bag_category_dialog .bag_category_popup .product {
        width: 35%;
        height: auto;
        margin: 4px !important;
    }
    .bag_category_popup .product-list-container {
        max-height: 230px !important;
        overflow: auto;
    }
}
@media only screen and (max-width: 320px) {
    .pos .modal-dialog.bag_category_dialog .popup {
        max-width: 300px !important;
    }
}
