.sh_assigned_config {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 1px 3px;
    text-align: center;
    margin: 2px;
    display: inline-block;
}
.button.refresh {
    left: 17%;
}
.sh_order_list {
    width: 100%;
    font-size: 15px;
}
.sh_order_list thead tr {
    line-height: 45px;
}
.sh_order_list tr.sh_order_line {
    background: #fff;
}
.sh_order_list thead tr {
    background: #ccc !important;
}
.sh_order_list tr td {
    padding: 10px 8px;
}
/* .sh_order_screen {
    max-height: 547px;
} */
.show_order_detail {
    display: revert !important;
}
.order_data_row {
    display: none;
}
.highlight {
    transition: all 150ms linear;
    background: rgb(110, 200, 155) !important;
    color: white;
}
.inner_data_table .show_order_detail th,
.inner_data_table .show_order_detail td {
    padding: 5px 8px !important;
}
.inner_data_table {
    width: 100%;
    border: 1px solid #888;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}
.show_order_detail th {
    background: #ccc !important;
}
.sh_pagination.light-theme.simple-pagination {
    position: absolute;
    bottom: 0;
}
.sh_pagination.light-theme.simple-pagination {
    width: 100%;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e7e7e7;
}
.sh_order_list_full_content {
    bottom: 46px !important;
    overflow: auto;
}
