.memo-edit {
	background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #6ec89b;
    color: #6ec89b;
    outline: 3px none blue;
    position: relative;
}
.add-memo{
	text-align: center;
}
.cancel-memo{
	text-align: center;
}
.add-memo-button {
	font-size:35px;
	cursor: pointer;
    text-align: center;
}
.cancel-memo-button {
	font-size:35px;
	cursor: pointer;
    text-align: center;
}
.gift-memo-line-hide {
	display:none
}
.pos .gift-memo-line > * {
    padding: 8px 12px;
}

#gift_memo_desc{

	display: inline-block;
	font-size: 16px;
	text-align: left;
	width: 360px;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
	color: #555555;
	text-shadow: none;
	background: none repeat scroll 0% 0% rgb(220, 220, 220);
}

.pos .paymentline.selected .col-gift-memo-code {
    background: white;
    color: #6EC89B;
    outline: 3px blue;
    box-shadow: 0px 0px 0px 3px #6EC89B;
    position: relative;
    border-radius: 3px;
}

.gift-memo{
	position: relative;
	padding: 8px;
    padding-top: 8px;
    padding-right-value: 8px;
    padding-bottom: 8px;
    padding-left-value: 8px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	-moz-box-sizing: border-box;
	border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#gift-memo-code{
	
	position: relative;
	padding: 8px;
    padding-top: 8px;
    padding-right-value: 8px;
    padding-bottom: 8px;
    padding-left-value: 8px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	-moz-box-sizing: border-box;
	border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#gift-memo{
	font-size: 20px;
	font-family: Lato;
	display: block;

	-moz-box-sizing: border-box;
	outline: medium none;
    outline-width: medium;
    outline-style: none;
    /*outline-color: -moz-use-text-color;*/
	border: medium none;
    border-top-width: medium;
    border-right-width-value: medium;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-bottom-width: medium;
    border-left-width-value: medium;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-top-style: none;
    border-right-style-value: none;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-bottom-style: none;
    border-left-style-value: none;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-top-color: -moz-use-text-color;
    border-right-color-value: -moz-use-text-color;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-bottom-color: -moz-use-text-color;
    border-left-color-value: -moz-use-text-color;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
	
    padding-top: 6px;
    padding-right-value: 8px;
    padding-bottom: 6px;
    padding-left-value: 8px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	background: none repeat scroll 0% 0% white;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
	color: rgb(72, 72, 72);
	text-align: right;
	border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	box-shadow: 0px 2px rgba(143, 143, 143, 0.3) inset;
   	width: 100%
}

#gift-memo:focus{
    color: rgb(130, 124, 255);
	box-shadow: 0px 2px rgba(219, 219, 219, 0.3) inset;
	-webkit-animation: all 250ms linear;
}
.add-memo-button:focus,.add-memo-button:hover{
    color: rgb(130, 124, 255);
}

.cancel-memo-button:focus, .cancel-memo-button:hover{
    color: rgb(130, 124, 255);
}

button.add-memo-button {
	width:70px;
	margin-right: 4px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #4c4c4c;
	margin: 0;
	padding: 3px 12px;
	font-size: 13px;
	text-align: center;
	background-color: #e3e3e3;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));*/
    /*background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);*/
    /*background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);*/
    /*background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);*/
    /*background-image: -o-linear-gradient(top, #efefef, #d8d8d8);*/
    background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
     outline: none;
}


button.cancel-memo-button {
	width:70px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #4c4c4c;
	margin: 0;
	padding: 3px 12px;
	font-size: 13px;
	text-align: center;
	background-color: #e3e3e3;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));*/
    /*background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);*/
    /*background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);*/
    /*background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);*/
    /*background-image: -o-linear-gradient(top, #efefef, #d8d8d8);*/
    background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
     outline: none;
}

#gift_button{
	text-align: right;
	margin-right: 10px;
}


