.pos .pos-topheader {
    background: #AD2181;
}
.weha_product_numpad {
	width: 100% !important;
	display: inline-block;
}
.weha_product_numpad button {
	width: 62.5px;
}
.pos .mode-button.selected-mode {
    background: #AD2181;
}

.pos .order {
    max-width: 100%;
}

/* .pos .control-button {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background: #875a7b;
    color: white;
    border: solid 1px #bfbfbf;
    display: inline-block;
    line-height: 38px;
    min-width: 80px;
    text-align: center;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 16px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
} */

/* .pos .control-button:hover {
    background: #efefef;
    color: black;
}

.pos .mode-button.selected-mode {
    color: white;
    background: #875a7b;
    border-color: transparent;
}

.pos .mode-button.selected-mode:hover {
    background: #875a7b;
    color: white;
    border-color: transparent;
} */

.pos .buttonpane {
    background-color: #e2e2e2;
    display: flex;
    width: 150px;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    height: 100%;
    flex-direction: column;
}

.pos .leftpane {
    border-right: solid 3px #787878;
    background: #e2e2e2;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 130px;
    overflow-y: auto;
}

.pos .disable-product-grid {
    display: none;
}

/* .pos .button-orderline {
    background-color: #875A7B;
    height: 50px; 
    width: 50px;
    color: #FFFFFF;
}

.pos .button-orderline-icon {
    font-size: 24px;
} */
