.coupon-edit {
	background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #6ec89b;
    color: #6ec89b;
    outline: 3px none blue;
    position: relative;
}
.add-coupon{
	text-align: center;
}
.cancel-coupon{
	text-align: center;
}
.add-coupon-button {
	font-size:35px;
	cursor: pointer;
    text-align: center;
}
.cancel-coupon-button {
	font-size:35px;
	cursor: pointer;
    text-align: center;
}
.gift-coupon-line-hide {
	display:none
}
.pos .gift-coupon-line > * {
    padding: 8px 12px;
}

#gift_coupon_desc, #loyalty_card{

	display: inline-block;
	font-size: 16px;
	text-align: left;
	width: 360px;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
	color: #555555;
	text-shadow: none;
	background: none repeat scroll 0% 0% rgb(220, 220, 220);
}

.pos .paymentline.selected .col-gift-voucher-code {
    background: white;
    color: #6EC89B;
    outline: 3px blue;
    box-shadow: 0px 0px 0px 3px #6EC89B;
    position: relative;
    border-radius: 3px;
}

div{
	display:block;
	
}
.gift-voucher{
	position: relative;
	padding: 8px;
    padding-top: 8px;
    padding-right-value: 8px;
    padding-bottom: 8px;
    padding-left-value: 8px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	-moz-box-sizing: border-box;
	border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#gift-voucher-code, #loyalty-card-code{
	
	position: relative;
	padding: 8px;
    padding-top: 8px;
    padding-right-value: 8px;
    padding-bottom: 8px;
    padding-left-value: 8px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	-moz-box-sizing: border-box;
	border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#gift-coupon, #loyalty-card, #card-balance{
	font-size: 20px;
	font-family: Lato;
	display: block;

	-moz-box-sizing: border-box;
	outline: medium none;
    outline-width: medium;
    outline-style: none;
    outline-color: -moz-use-text-color;
	border: medium none;
    border-top-width: medium;
    border-right-width-value: medium;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-bottom-width: medium;
    border-left-width-value: medium;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-top-style: none;
    border-right-style-value: none;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-bottom-style: none;
    border-left-style-value: none;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-top-color: -moz-use-text-color;
    border-right-color-value: -moz-use-text-color;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-bottom-color: -moz-use-text-color;
    border-left-color-value: -moz-use-text-color;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
	
    padding-top: 6px;
    padding-right-value: 8px;
    padding-bottom: 6px;
    padding-left-value: 8px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	background: none repeat scroll 0% 0% white;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
	color: rgb(72, 72, 72);
	text-align: right;
	border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	box-shadow: 0px 2px rgba(143, 143, 143, 0.3) inset;
   	width: 100%
}

#gift-coupon:focus, #loyalty-card:focus, #card-balance:focus{
    color: rgb(130, 124, 255);
	box-shadow: 0px 2px rgba(219, 219, 219, 0.3) inset;
	-webkit-animation: all 250ms linear;
}
.add-coupon-button:focus,.add-coupon-button:hover{
    color: rgb(130, 124, 255);
}

.cancel-coupon-button:focus, .cancel-coupon-button:hover{
    color: rgb(130, 124, 255);
}

button.add-coupon-button {
	width:70px;
	margin-right: 4px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #4c4c4c;
	margin: 0;
	padding: 3px 12px;
	font-size: 13px;
	text-align: center;
	background-color: #e3e3e3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -o-linear-gradient(top, #efefef, #d8d8d8);
    background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
     outline: none;
}


button.cancel-coupon-button {
	width:70px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #4c4c4c;
	margin: 0;
	padding: 3px 12px;
	font-size: 13px;
	text-align: center;
	background-color: #e3e3e3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -o-linear-gradient(top, #efefef, #d8d8d8);
    background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
     outline: none;
}

#gift_button{
	text-align: right;
	margin-right: 10px;
}

/* Message Box */


div.msgBox
{
    padding: 4px 10px 4px 10px;
    position: fixed;
    z-index: 1000;
    font-family:Verdana;
    width: 430px;
    min-height:160px;
    color: #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
}
div.msgBoxBackGround
{
    top:0;
    left:0;
    position:absolute;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color:#ffffff;
    opacity:0.9;
    z-index:999;
}
div.msgBoxTitle
{
    padding:5px 0 5px 0;
    font-variant:small-caps;
    font-size:16pt;
    font-weight:lighter;
    color:#00335e;
    width:100%;
    border-bottom : 1px solid #002c5f;
}
div.msgBoxImage
{
    margin:20px 5px 0 5px;
    display:inline-block;
    float:left;
    height:75px;
    width:75px;
}
div.msgBoxImage img
{
    height:75px;
    width:75px;
}
div.msgBoxContent
{
    font-size:11pt;
    margin:0 3px 6px 3px;
    display:inline-block;
    float:left;
    height:90px;
    width:319px;
}
div.msgBoxContent p
{
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 100%;
}

div.msgBoxContent span 
{
    display: table-cell;
    vertical-align: middle;
    color: #00335e;
}

div.msgBoxButtons
{
    display:inline-block;
    width:100%;
    text-align:right;
}
div.msgBoxButtons input[type='button']
{
    cursor:pointer;
    margin:2px;
    height:35px;
    width:90px;
    border:1px solid #AFAFAF;
    background-color:#004076;
    color:#FFFFFF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
div.msgBoxButtons input[type='button']:hover
{
    background-color:#00549c;
    color:White;
}
div.msgBoxButtons input[type='button']:active
{
    background-color:#AAAAAA;
    color:White;
}

div.msgBoxInputs
{
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:195px;
}
div.msgInput input[type='text'],div.msgInput input[type='password']
{
    padding:4px;
    border:1px solid #DFDFDF;
    color:#2f2f2f;
    width:180px;
}
div.msgInput text
{
    color:#2f2f2f;
    font-size:10pt;
}

/* BARCODE */

/*** normal size ***************************************/
.barcode { 
  float:left;
  clear:both;
  padding: 0 10px; /*quiet zone*/
  overflow:auto;
  height:0.5in; /*size*/ 
  
}
.right { float:right; }
.barcode + * { clear:both; }
.barcode div { 
  float:left;
  height: 0.35in; /*size*/
}
.barcode .bar1 { border-left:1px solid black; }
.barcode .bar2 { border-left:2px solid black; }
.barcode .bar3 { border-left:3px solid black; }
.barcode .bar4 { border-left:4px solid black; }
.barcode .space0 { margin-right:0 }
.barcode .space1 { margin-right:1px }
.barcode .space2 { margin-right:2px }
.barcode .space3 { margin-right:3px }
.barcode .space4 { margin-right:4px }
.barcode label { 
  clear:both; 
  display:block; 
  text-align:center;  
  font: 0.125in/100% helvetica; /*size*/
}
/*** bigger ******************************************/
.barcode2 { 
  float:left;
  clear:both;
  padding: 0 10px; /*quiet zone*/
  overflow:auto;
  height:1in; /*size*/ 
}
.barcode2 + * { clear:both; }
.barcode2 div { 
  float:left;
  height: 0.7in; /*size*/
}
.barcode2 .bar1 { border-left:2px solid black; }
.barcode2 .bar2 { border-left:4px solid black; }
.barcode2 .bar3 { border-left:6px solid black; }
.barcode2 .bar4 { border-left:8px solid black; }
.barcode2 .space0 { margin-right:0 }
.barcode2 .space1 { margin-right:2px }
.barcode2 .space2 { margin-right:4px }
.barcode2 .space3 { margin-right:6px }
.barcode2 .space4 { margin-right:8px }
.barcode2 label { 
  clear:both; 
  display:block; 
  text-align:center;  
  font: 0.250in/100% helvetica; /*size*/
}

///////////////////////////////new barcode

#menu th {
	text-align:			right;
	padding-right:		1.5ex;
}
#menu span.button {
	border:				1px solid #000;
	background-color:	#eee;
	display:			inline-block;
	height:				9px;
	width:				15px;
	position:			relative;
	background-repeat:	no-repeat;
	background-position:50% 50%;
}
#menu span.button.up {
	top:				-5px;
	left:				-5px;
	background-image:	url(lib/up-arrow.gif);
}
#menu span.button.dn {
	top:				6px;
	left:				-26px;
	background-image:	url(lib/dn-arrow.gif);
}
#menu span.button:hover {
	background-color:	gold;
	border:				1px solid orange;
}
#scale {
	height:				16px;
	width:				3ex;
}

