.pos .sh_discount_popup .sh_discount_main_table .sh_discount_radio #discount_fixed_radio,
.pos .sh_discount_popup .sh_discount_main_table .sh_discount_radio #discount_percentage_radio {
    width: auto !important;
    box-shadow: none !important;
    min-height: unset !important;
}

.pos .sh_discount_popup .sh_discount_main_table .sh_discount_radio {
    margin-bottom: 18px;
}
.pos .sh_discount_popup .sh_discount_main_table .sh_discount_value {
    width: 25% !important;font-size: 15px;
}
.pos .sh_discount_popup .sh_discount_main_table .discount_amount_div .sh_discount_label {
    margin-right: 8px;
    font-size: 16px;
}
.pos .sh_discount_popup .sh_discount_main_table .discount_amount_div {
    margin-bottom: 10px;
}
.pos .sh_discount_popup .sh_discount_footer .button.confirm {
    background: #6ec89b !important;
    color: #fff !important;
}
.pos .sh_discount_popup {
    height: 240px !important;
    width: 425px !important;
}
.sh_discount_value.invalid_number {
    border: 1px solid red !important;
    box-shadow: none !important;
}
.pos .sh_discount_popup .sh_discount_main_table label {
    font-size: 16px;
}

@media only screen and (max-width: 576px) {
    .pos .sh_discount_modal_dialog {
        padding: 0px;
    }
    .pos .sh_discount_popup .sh_discount_main_table .sh_discount_value {
        width: 50% !important;
    }
}
 
.pos .order .sh_order_summary{display: flex;justify-content: space-between;}
.pos .order .sh_order_summary .line{float: unset !important;}
.pos .order .sh_order_summary .line.sh_order_summary_line{order: 2;margin-bottom: 10px;}
.pos .order .sh_order_summary .line.global_discount_line .entry.total.global_fixed_discount{font-size: 15px;color: #919191;padding-top: 5px;font-weight: normal;}