body .pos-customer_facing_display .pos_orderlines .pos_orderlines_header {
  background-position: center;
  background-size: cover;
  display: block;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_list {
    height: 70%;
    font-size: 60%;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item {
  margin-bottom: 0.2vw;
}


body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info {
    width: 100%;
    padding: 2% 2% 1% 2%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details {
    -webkit-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -moz-box-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    min-width: 170px;
}

body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-total,
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-paymentlines {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-total > div,
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-paymentlines > div {
  -webkit-box-flex: 1 0 48%;
  -webkit-flex: 1 0 48%;
  -moz-box-flex: 1 0 48%;
  -ms-flex: 1 0 48%;
  flex: 1 0 48%;
}
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details  .pos-total > div:nth-child(even),
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details  .pos-paymentlines > div:nth-child(even) {
  font-weight: bold;
  font-size: 120%;
  margin-right: 0;
}
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details  .pos-total {
  font-size: 2vw;
}
body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details  .pos-paymentlines {
  margin-top: 2%;
  font-size: 1.5vw;
  line-height: 1.3;
}

body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-total {
    font-size: 3vw;
}

body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-total .pos_total-amount {
    font-size: 3.5vw;
}

body .pos-customer_facing_display .pos_orderlines .pos-orderlines_payment_info .pos-orderlines_payment_info_details .pos-paymentlines {
    margin-top: 2%;
    font-size: 60%;
    line-height: 1.2;
}

body .pos-customer_facing_display .pos-payment_info {
    max-width: 50%;
    min-width: 45%;
}