/* .yyt_display_referrence_code {
    margin: 15px;
    color: #03C988;
    font-size: 12px;
    text-align: left !important;
}

.yyt_pos_btn_remove {
    background-color: #F55050 !important;
    color: white;
}

.yyt_pos_btn_remove:active {
    background-color: #F48484 !important;
    border: none !important;
}

.yyt_pos_btn_confirm {
    background-color: #03C988 !important;
    color: white;
}

.yyt_pos_btn_confirm:active {
    background-color: #59CE8F !important;
    border: none !important;
} */