.product_custom_qty .qty {
	display: inline !important;
}
.product_custom_qty .qty {
	width: 17px !important;
	height: 17px !important;
	min-height: auto !important;
	margin: 20px 0;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 5px;
	min-height: 35px;
	height: 35px;
	display: inline !important;
}
.product_custom_qty .bag_qty {
	width: 17px !important;
	height: 17px !important;
	min-height: auto !important;
	margin: 20px 0;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 5px;
	min-height: 35px;
	height: 35px;
	display: inline !important;
}
.baglabel{
    font-size: 16px;
    margin-left: 1%;
}
/*.pos .product .product-name{
	width: 88% !important;
}*/